@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
}

img {
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
  padding: 12px;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
}

ul {
  display: flex;
  list-style-type: none;
  gap: 25px;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: rgb(97, 97, 97);
}

.header, .footer {
  padding: 15px;
  display: flex;
  justify-content: space-between;
}

.content {
  display: flex;
  flex-flow: column;
  align-self: center;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.footer {
  background-color: rgb(202, 202, 202);
}