body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
}

ul {
  display: flex;
  flex-flow: column;
  gap: 15px;
  font-weight: bold;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #eee;
}

.header {
  box-sizing: border-box;
  padding: 10px;
  font-weight: bolder;
  font-size: 38px;
  height: 72px;
  background: darkmagenta;
  color: white;
}

.contents {
  display: flex;
  flex: 1;
}

.cards {
  padding: 50px;
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.footer {
  font-size: 22px;
  padding-top: 20px;
  text-align: center;
  height: 72px;
  background: #eee;
  color: darkmagenta;
}

.sidebar {
  padding: 10px;
  font-size: 24px;
  min-width: 300px;
  flex-shrink: 0;
  background: royalblue;
  box-sizing: border-box;
}

.card {
  height: auto;
  width: 300px;
  padding: 15px;
  border: 1px solid #eee;
  box-shadow: 2px 4px 16px rgba(0,0,0,.06);
  border-radius: 4px;
}