* {
  font-size: 16px;
}

body {
  background: #eee;
  font-family: sans-serif;
  
}

.card {
  width: 450px;
  background: #fff;
  margin: 16px auto;
  padding: 8px;
}

.title {
  background: #e3f4ff;
  margin: 10px auto;
  padding: 8px;
}

.content {
  background: #e3f4ff;
  margin: 10px auto;
  padding: 10px 8px 10px 8px;
}

.button-container {
  background: #e3f4ff;
  margin-top: 10px;
  padding: 8px;
  text-align: center;
}

span {
  display: block;
}

button {
  background: white;
  border: 1px solid #eee;
  padding: 8px 24px;
}